/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.p-button-icon {
  padding-right: 4%;
}

.create-workspace {
  background-color: $yellow;
  border-radius: 20px;
  border: none;
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 1.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: right;
  margin-top: 1em;
}

.info-button {
  border-radius: 4rem;
  border: none;
  margin-left: 10px;
  font-size: 1.2rem;
}

.p-hidden-accessible {
  visibility: visible;
}

.newMenu {
  float: right;
}

.simple {
  border: none;
  background-color: inherit;
  color: black;
}

.delete-all {
  margin: 1rem;
  min-width: 12rem;
}