/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.role-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.3px;

  &.role-siteconsumer {
    background: $lightgreen;
    color: $darkgreen;
  }

  &.role-sitecollaborator {
    background: $lightorange;
    color: $darkorange;
  }

  &.role-sitecontributor {
    background: $lightpurple;
    color: $darkpurple;
  }

  &.role-sitemanager {
    background: $lightblue;
    color: $darkblue;
  }
}

.visibility-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.3px;

  &.visibility-public {
    background: $lightgreen;
    color: $darkgreen;
  }

  &.visibility-moderated {
    background: $lightorange;
    color: $darkorange;
  }

  &.visibility-private {
    background: $lightpurple;
    color: $darkpurple;
  }
}

.delib-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.3px;
  background: $lightpink;
  color: $darkpink;
}

.workspace-card {
  margin: 1.5rem 1.5rem 0 1.5rem;
}

.card-title {
  border: none;
  padding-bottom: 2rem;
  text-decoration: none;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.card-menu {
  background-color: white;
  padding: 12px 12px;
  margin: auto;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 150px !important;
}

.p-dataview-content {
  background-color: inherit !important;
}
.p-grid.p-nogutter.grid.grid-nogutter{
  background-color: white;
}

.folder-card {
  margin: 1.5rem 1.5rem 0 1.5rem;
  max-height: 4rem;
  & .card-title {
    font-size: 1rem;
  }
  & .folder-items {
    display: inline-flex;
    width: 4rem;
    & span {
      margin-left: 1rem;
    }
  }
  .col-fixed {
    display: inline-flex;
    min-width: 8rem;
  }

  .p-checkbox-icon {
    margin: 0 !important;
  }

  .espace{
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

figcaption {
  text-align: end;
}
