/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.responsive-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item {
  display: block;
  padding: 0.1rem 0rem 0.1rem 1rem !important;
}
.icone img{
  height: auto;
  width: 3rem;
}

.icone{
  height: auto;
  width: 3rem;
  margin: auto;
}

.user-avatar {
  margin-right: 2rem !important;
  margin-bottom: auto;
  margin-top: auto;
}

.user-info {
  display: grid;
}

.user-name {
  font-size: 1.5rem;
}

.language-choice {
  display: flex;
}
.language-choice > p{
  margin: 0 0.5rem 0 0.5rem;
}
#searchBar {
  width: 70rem;
}

.mobile_zone {
  display: none;
}

/* mobile version */
@media(max-width:70rem) {

  .mobile_zone {
    display: grid;
  }

  .classic_zone {
    display: none;
  }

}