/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.popup-add-workspace {
  z-index: 1001;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;
  min-width: 40rem;
  min-height: 25rem;
  & label {
    font-size: 1.1rem;
  }
}

.required {
  color: red;
}

#acces-rights {
  margin: 0.4rem;
}

.error-message {
  color: red;
}

.info-message {
  background-color: inherit;
  color: black;
  margin: 1rem;
  border: none;
}
.disabled {
  color: lightGray;
}
