<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <Message severity="info">{{ infoTrash }}</Message>
  <div class="col-12">
    <div class="card">
      <h3>{{ $t("trashcan.name") }}</h3>
      <CorbeilleList :trashNodes="trashNodes" @reload="loadData" />
    </div>
  </div>
</template>
<script>
import corbeilleService from "@/services/CorbeilleService";
import CorbeilleList from "@/components/CorbeilleList.vue";
import { useConfigStore } from "@pristy/pristy-libvue";

export default {
  components: { CorbeilleList },
  data() {
    return {
      trashNodes: null,
      config: null,
    };
  },
  mounted() {
    const config = useConfigStore();
    window.document.title = `${this.$t("trashcan.name")} | ${
      config.APP_ROOT_TITLE
    }`;
    this.loadData();
  },
  methods: {
    loadData() {
      corbeilleService
        .getTrashCan()
        .then((nodes) => {
          this.trashNodes = nodes;
        })
        .catch((err) => {
          return err;
        });
    },
  },
  computed: {
    infoTrash() {
      return this.$t("corbeillePlace");
    },
  },
};
</script>
