<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div
    class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
  >
    <div class="grid justify-content-center p-2 lg:p-0 login-grid">
      <div class="col-12 xl:col-6">
        <div class="h-full w-full m-0 py-7 px-4 login-card">
          <div class="text-center mb-5">
            <img
              :src="'images/pristy/logo-pristy-square.svg'"
              alt="Pristy logo"
              class="mb-3 w-14rem"
            />
            <i
              class="ri-information-line text-300"
              v-tooltip.bottom="`Pristy Portail v.${version}`"
            />
            <div class="text-900 text-3xl font-medium mb-3">
              {{ $t("welcome") }}
            </div>
            <span class="text-600 font-medium">{{
              $t("connectToContinue")
            }}</span>
          </div>
          <Message v-if="loginError" severity="error" :closable="false">{{
            this.failLoginMessage
          }}</Message>
          <div class="w-full md:w-10 mx-auto">
            <label
              for="email"
              class="block text-900 text-xl font-medium mb-2"
              >{{ $t("userIdentification") }}</label
            >
            <InputText
              id="email"
              v-model="email"
              type="text"
              class="w-full mb-3 p-3"
              :placeholder="$t('userID')"
              @keyup.enter="login"
            />

            <label
              for="password"
              class="block text-900 font-medium text-xl mb-2"
              >{{ $t("password") }}</label
            >
            <Password
              id="password"
              v-model="password"
              :placeholder="$t('password')"
              class="w-full mb-3"
              inputClass="w-full p-3"
              :feedback="false"
              @keyup.enter="login"
            />
            <Button
              :label="$t('connect')"
              class="w-full p-3 text-xl"
              @click="login"
            />

            <template v-if="SHOW_ACA_LOGIN_LINK">
              <Divider class="p-1" />
              <Button
                :label="$t(`accessACA`)"
                class="w-full p-2 text-xl"
                severity="secondary"
                @click="goToACA"
              />
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { version } from "../../package.json";
import { useConfigStore, useUserStore } from "@pristy/pristy-libvue";
import { mapState } from "pinia";

export default {
  data() {
    return {
      email: "",
      password: "",
      checked: false,
      loginError: false,
      failLoginMessage: null,
    };
  },
  methods: {
    goToACA() {
      window.location.href = this.ACA_LINK;
    },
    login() {
      const user = useUserStore();
      user
        .login(this.email, this.password)
        .then((data) => {
          if (data === false) {
            throw new Error(this.$t("login.emptyPasswordOrUser"));
          }
          if (this.$route.query?.target === undefined) {
            this.$router.push({ name: "welcome" });
          } else {
            this.$router.replace(this.$route.query.target);
          }
        })
        .catch((err) => {
          this.loginError = true;
          this.failLoginMessage = err.message;
        });
    },
  },
  computed: {
    version() {
      return version;
    },
    ...mapState(useConfigStore, ["SHOW_ACA_LOGIN_LINK", "ACA_LINK"]),
  },
};
</script>
<style scoped>
.forgotten-password {
  color: var(--primary-color);
}

.login-card {
  border-radius: 53px;
  background: var(--surface-100);
}

.login-grid {
  min-width: 80%;
}
</style>
