<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="col-12">
    <div class="card">
      <h1>{{ $t("menu.userManagement") }}</h1>
      <ManageUsersList
        :usersList="usersList"
        :isAdmin="isAdmin"
        @reload="loadData"
      />
    </div>
  </div>
</template>
<script>
import {
  peopleService,
  useConfigStore,
  useUserStore,
} from "@pristy/pristy-libvue";
import ManageUsersList from "@/components/ManageUsersList.vue";

function mapUser(data) {
  let user = data;
  user.sizeCurrent = data.properties ? data.properties["cm:sizeCurrent"] : "";
  user.sizeQuota = data.properties ? data.properties["cm:sizeQuota"] : "";
  return user;
}

export default {
  components: { ManageUsersList },
  data() {
    return {
      isAdmin: null,
      config: null,
      usersList: [],
    };
  },
  created() {
    this.user = useUserStore();
    this.config = useConfigStore();
  },
  mounted() {
    window.document.title = `${this.$t("menu.userManagement")} | ${
      this.config.APP_ROOT_TITLE
    }`;
    peopleService.getUser("-me-").then((me) => {
      this.isAdmin = me.capabilities.isAdmin;
      this.loadData();
    });
  },
  methods: {
    loadData() {
      peopleService
        .listUsers()
        .then((usersList) => {
          return usersList
            .map(mapUser)
            .filter(
              (user) =>
                !["publication", "pastell"].some((hiddenUsers) =>
                  user.id.includes(hiddenUsers)
                )
            )
            .map((user) => {
              return this.isAdmin ? this.getGroups(user) : user;
            });
        })
        .then((users) => {
          Promise.all(users).then((usersResponses) => {
            this.usersList = usersResponses;
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    getGroups(user) {
      let newUser = user;
      return peopleService.listGroups(user.id).then((groups) => {
        newUser.groups = groups
          .map((group) => group.entry)
          .filter(
            (group) =>
              ![
                "GROUP_EVERYONE",
                "GROUP_site_",
                "GROUP_EMAIL_",
                "GROUP_ALFRESCO",
                "SITE_ADMINISTRATORS",
              ].some((hiddenGroups) => group.id.includes(hiddenGroups))
          );
        return newUser;
      });
    },
  },
};
</script>
