<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <AppTopBar
    :displayMenuButton="false"
    :displaySearchButton="false"
    :displaySettingButton="false"
    :displayUserButton="false"
    :displayLogoutButton="false"
  />

  <div
    class="ml-4 mr-4"
    style="margin-top: 6rem !important"
    v-if="message || errormesg"
  >
    <Message v-if="message">{{ message }}</Message>
    <Message severity="error" v-if="errormesg"> {{ errormesg }}</Message>
  </div>

  <div v-if="contentInfo" class="text-center m-4">
    <card>
      <template #content>
        <div class="d-flex justify-content-center align-items-center">
          <ImageViewer
            :name="name"
            :blobUrl="blobUrl"
            v-if="contentInfo.mimeType.startsWith('image/') && blobUrl"
          />
          <VideoPlayer
            :name="name"
            :blobUrl="blobUrl"
            v-else-if="contentInfo.mimeType.startsWith('video/') && blobUrl"
          />

          <VuePDFjs v-if="fileBlob" :fileBlob="fileBlob" :name="name" />
        </div>
      </template>
    </card>
  </div>
</template>

<script>
import VuePDFjs from "@/components/PdfPageVuePDFjs.vue";
import { alfrescoNodeService } from "@pristy/pristy-libvue";
import ImageViewer from "@/components/ImageViewer.vue";
import VideoPlayer from "@/components/VideoPlayer.vue";
import AppTopBar from "@/AppTopbar.vue";

export default {
  name: "PreviewPage",
  components: { AppTopBar, VideoPlayer, ImageViewer, VuePDFjs },
  data() {
    return {
      node: null,
      name: null,
      url: null,
      fileBlob: null,
      blobUrl: null,
      sharedByUser: "",
      contentInfo: null,
      message: null,
      errormesg: null,
    };
  },
  mounted() {
    this.loadUrl();
  },
  beforeUnmount() {
    if (this.blobUrl) {
      URL.revokeObjectURL(this.blobUrl);
    }
  },
  methods: {
    loadUrl() {
      this.url = null;
      alfrescoNodeService
        .getSharedLink(this.$route.params.code)
        .then((response) => {
          return response.entry;
        })
        .then((sharedLink) => {
          this.name = sharedLink.name;
          if (sharedLink.sharedByUser) {
            this.message = `Document partagé par ${sharedLink.sharedByUser.displayName}`;
          }
          this.contentInfo = sharedLink.content;
        })
        .catch((error) => {
          if (error.code === 404) {
            this.message = "Le partage est introuvable";
          }
        });
    },
  },
  watch: {
    contentInfo() {
      if (
        this.contentInfo.mimeType.startsWith("video/") ||
        this.contentInfo.mimeType.startsWith("image/")
      ) {
        alfrescoNodeService
          .getSharedLinkContent(this.$route.params.code)
          .then((response) => {
            this.blobUrl = URL.createObjectURL(response);
          });
      } else if (this.contentInfo.mimeType === "application/pdf") {
        alfrescoNodeService
          .getSharedLinkContent(this.$route.params.code)
          .then((response) => {
            this.fileBlob = response;
          });
      } else {
        // ask for rendition "pdf"
        alfrescoNodeService
          .getSharedLinkRenditionContent(this.$route.params.code)
          .then((response) => {
            this.fileBlob = response;
          })
          .catch((error) => {
            if (error.code === 404) {
              this.errormesg =
                "Le document est bien partagé mais la consultation est impossible";
            }
          });
      }
    },
  },
};
</script>

<style scoped>
.blobItem {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 50rem;
}
</style>
