<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="card">
    <div class="flex flex-wrap">
      <div class="progress-spinner" v-if="loading">
        <ProgressSpinner />
      </div>
      <div class="mt-3 inline-flex mr-8">
        <Avatar
          v-if="displayName"
          :label="displayName[0]"
          class="user-avatar mr-2"
          size="xlarge"
          shape="circle"
        />
        <div class="user-info">
          <p class="user-name">{{ displayName }}</p>
          <p>{{ email }}</p>
        </div>
      </div>
      <div class="mt-4">
        <h4>Langue</h4>
        <div class="language-choice">
          <p class="language">Français</p>
          <InputSwitch v-model="checked" />
          <p class="language">English</p>
        </div>
      </div>
      <div v-if="config.AUTH === 'keycloak'">
        <Button
          :label="$t('manageInformation')"
          type="button"
          class="keycloak_button"
          @click="changeProfile"
          outlined
        />
        <Button
          :label="$t('changePassword')"
          type="button"
          class="keycloak_button"
          @click="changePassword"
          outlined
        />
      </div>
    </div>
  </div>
  <div class="card">
    <div class="inline-block">
      <h3>{{ $t("personalizePristy") }}</h3>
    </div>
    <div class="flex flex-wrap align-items-start justify-content-start">
      <div class="mr-8 mt-4">
        <h4>{{ $t("darkTheme") }}</h4>
        <div class="language-choice">
          <p class="language">{{ $t("light") }}</p>
          <div class="">
            <InputSwitch v-model="themeDark" @change="formatTheme" />
          </div>
          <p class="language">{{ $t("dark") }}</p>
        </div>
      </div>
      <div class="mr-8 mt-4">
        <h4>{{ $t("themeColor") }}</h4>
        <div
          class="flex flex-wrap align-items-center justify-content-between gap-3 mb-3"
        >
          <Button
            class="theme-button"
            :class="{
              'theme-button-selected':
                selectedTheme === 'lara-light-green' ||
                selectedTheme === 'lara-dark-green',
            }"
            style="border-radius: 30px"
            @click="setThemeColor('lara-green')"
          >
            <span
              class="block h-1rem w-full"
              style="
                border-radius: 30px;
                background: linear-gradient(
                  rgb(77, 172, 156) 0%,
                  rgba(77, 172, 156, 0.5) 100%
                );
              "
            ></span>
          </Button>
          <Button
            class="theme-button"
            :class="{
              'theme-button-selected':
                selectedTheme === 'lara-light-cyan' ||
                selectedTheme === 'lara-dark-cyan',
            }"
            style="border-radius: 30px"
            @click="setThemeColor('lara-cyan')"
          >
            <span
              class="block h-1rem w-full"
              style="
                border-radius: 30px;
                background: linear-gradient(
                  rgb(6, 182, 212) 0%,
                  rgba(6, 182, 212, 0.5) 100%
                );
              "
            ></span>
          </Button>
          <Button
            class="theme-button"
            :class="{
              'theme-button-selected':
                selectedTheme === 'lara-light-blue' ||
                selectedTheme === 'lara-dark-blue',
            }"
            style="border-radius: 30px"
            @click="setThemeColor('lara-blue')"
          >
            <span
              class="block h-1rem w-full"
              style="
                border-radius: 30px;
                background: linear-gradient(
                  rgb(67, 120, 230) 0%,
                  rgba(67, 120, 230, 0.5) 100%
                );
              "
            ></span>
          </Button>
          <Button
            class="theme-button"
            :class="{
              'theme-button-selected':
                selectedTheme === 'lara-light-indigo' ||
                selectedTheme === 'lara-dark-indigo',
            }"
            style="border-radius: 30px"
            @click="setThemeColor('lara-indigo')"
          >
            <span
              class="block h-1rem w-full"
              style="
                border-radius: 30px;
                background: linear-gradient(
                  rgb(88, 95, 224) 0%,
                  rgba(88, 95, 224, 0.5) 100%
                );
              "
            ></span>
          </Button>
        </div>
        <div
          class="flex flex-wrap align-items-center justify-content-between gap-3"
        >
          <Button
            class="theme-button"
            :class="{
              'theme-button-selected':
                selectedTheme === 'lara-light-purple' ||
                selectedTheme === 'lara-dark-purple',
            }"
            style="border-radius: 30px"
            @click="setThemeColor('lara-purple')"
          >
            <span
              class="block h-1rem w-full"
              style="
                border-radius: 30px;
                background: linear-gradient(
                  rgb(119, 88, 228) 0%,
                  rgba(119, 88, 228, 0.5) 100%
                );
              "
            ></span>
          </Button>
          <Button
            class="theme-button"
            :class="{
              'theme-button-selected':
                selectedTheme === 'lara-light-amber' ||
                selectedTheme === 'lara-dark-amber',
            }"
            style="border-radius: 30px"
            @click="setThemeColor('lara-amber')"
          >
            <span
              class="block h-1rem w-full"
              style="
                border-radius: 30px;
                background: linear-gradient(
                  rgb(245, 158, 11) 0%,
                  rgba(245, 158, 11, 0.5) 100%
                );
              "
            ></span>
          </Button>
          <Button
            class="theme-button"
            :class="{
              'theme-button-selected':
                selectedTheme === 'lara-light-teal' ||
                selectedTheme === 'lara-dark-teal',
            }"
            style="border-radius: 30px"
            @click="setThemeColor('lara-teal')"
          >
            <span
              class="block h-1rem w-full"
              style="
                border-radius: 30px;
                background: linear-gradient(
                  rgb(20, 184, 166) 0%,
                  rgba(20, 184, 166, 0.5) 100%
                );
              "
            ></span>
          </Button>
          <Button
            class="theme-button"
            :class="{
              'theme-button-selected':
                selectedTheme === 'lara-light-pink' ||
                selectedTheme === 'lara-dark-pink',
            }"
            style="border-radius: 30px"
            @click="setThemeColor('lara-pink')"
          >
            <span
              class="block h-1rem w-full"
              style="
                border-radius: 30px;
                background: linear-gradient(
                  rgb(236, 72, 153) 0%,
                  rgba(236, 72, 153, 0.5) 100%
                );
              "
            ></span>
          </Button>
        </div>
      </div>
      <div class="mt-4">
        <h4>Scale</h4>
        <div
          class="flex align-items-center gap-2 border-1 border-round-3xl surface-border py-1 px-2"
        >
          <Button
            icon="ri-subtract-fill"
            text
            rounded
            @click="updateClasses('subtract')"
          ></Button>
          <i
            v-for="index in circles"
            :key="index"
            class="pi pi-circle-fill text-sm text-200 circle"
            :class="{ circleSelected: selectedIndex === index }"
            @click="selectCircle(index)"
          ></i>
          <Button
            rounded
            icon="ri-add-line"
            text
            @click="updateClasses('add')"
          ></Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  useConfigStore,
  useUserStore,
  useThemeStore,
} from "@pristy/pristy-libvue";
export default {
  data() {
    return {
      loading: false,
      displayName: null,
      email: null,
      checked: false,
      userStore: null,
      keycloak: null,
      selectedTheme: null,
      themeColor: "lara-green",
      themeDark: false,
      circles: [0, 1, 2, 3, 4],
      selectedIndex: 2,
    };
  },
  created() {
    this.checked =
      localStorage?.getItem("user.language") === "en" ||
      window?.navigator?.language === "en";
    this.userStore = useUserStore();
    this.config = useConfigStore();
    useThemeStore().initTheme();
    this.initializeThemeData();
    useThemeStore().initScale();
    this.selectedIndex = parseInt(useThemeStore().indexScale);
  },
  mounted() {
    this.displayName = this.userStore.displayName;
    this.email = this.userStore.person.email;
    this.keycloak = this.userStore.keycloak;
  },
  methods: {
    updateClasses(action) {
      let currentIndex = this.selectedIndex;
      if (action === "subtract") {
        currentIndex = Math.max(0, currentIndex - 1);
      } else if (action === "add") {
        currentIndex = Math.min(this.circles.length - 1, currentIndex + 1);
      }
      this.selectCircle(currentIndex);
    },
    selectCircle(index) {
      this.selectedIndex = index;
      const circles = document.querySelectorAll(".circle");
      circles.forEach((circle, i) => {
        circle.classList.remove("circleSelected");
        if (i === index) {
          circle.classList.add("circleSelected");
        }
      });
      useThemeStore().updateScale(this.selectedIndex);
    },
    initializeThemeData() {
      this.selectedTheme = localStorage.getItem("theme") || "lara-light-green";
      const [themeType, lightDark, color] = this.selectedTheme.split("-");
      this.themeColor = `${themeType}-${color}`;
      this.themeDark = lightDark === "dark";
    },
    setThemeColor(color) {
      this.themeColor = color;
      this.formatTheme();
    },
    formatTheme() {
      const themeParts = this.themeColor.split("-");
      const color = themeParts.length > 1 ? themeParts[1] : this.themeColor;
      const themePrefix = this.themeDark ? "lara-dark-" : "lara-light-";
      const theme = `${themePrefix}${color}`;
      this.selectedTheme = theme;
      this.loading = true;
      useThemeStore()
        .changeTheme(theme)
        .then(() => {
          this.loading = false;
        })
        .catch((error) => {
          console.error("Error loading theme:", error);
          this.loading = false;
        });
    },
    changeProfile() {
      window.open(
        `${this.keycloak.url}/realms/${this.keycloak.realm}/account/#/personal-info`,
        "_self"
      );
    },
    changePassword() {
      window.open(
        `${this.keycloak.url}/realms/${this.keycloak.realm}/account/#/security/signingin`,
        "_self"
      );
    },
  },
  watch: {
    checked(isChecked) {
      localStorage.setItem("user.language", isChecked ? "en" : "fr");
    },
  },
};
</script>
<style>
.circleSelected {
  font-size: 1.125rem !important;
  color: var(--primary-color) !important;
}
.keycloak_button {
  margin: 1rem;
}
.theme-button {
  background-color: unset !important;
  border: 1px solid var(--surface-200) !important;
  cursor: pointer;
  padding: 0.5rem !important;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms;
}
.theme-button:hover {
  border-color: var(--surface-500) !important;
}
.theme-button-selected {
  background-color: var(--primary-400) !important;
  border: 1px solid var(--primary-400);
}

.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
</style>
