<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="col-12">
    <div class="card">
      <h3>{{ $t("requests.name") }}</h3>
      <RequestList :requests="requests" @reload="loadData" />
    </div>
  </div>
</template>

<script>
import { useConfigStore, useUserStore } from "@pristy/pristy-libvue";
import requestService from "@/services/RequestService";
import RequestList from "@/components/RequestList.vue";

export default {
  components: { RequestList },
  data() {
    return {
      requests: null,
      config: null,
    };
  },
  mounted() {
    const config = useConfigStore();
    window.document.title = `${this.$t("requests.name")} | ${
      config.APP_ROOT_TITLE
    }`;
    this.loadData();
  },
  methods: {
    loadData() {
      const currentUser = useUserStore().person.id;
      requestService
        .getRequests()
        .then((requests) => {
          const filteredRequest = requests.filter(
            (element) => element.person.id !== currentUser
          );
          this.requests = filteredRequest;
        })
        .catch((err) => {
          return err;
        });
    },
  },
};
</script>

<style scoped></style>
