<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div>
    <Button
      icon="ri-delete-bin-line"
      class="delete-all"
      :label="$t('trashcan.deleteAll')"
      @click="confirmDeleteAll"
      severity="danger"
    />
  </div>
  <DataTable
    id="trashNodes"
    :value="trashNodes"
    paginator
    :rows="5"
    dataKey="id"
    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
    :rowsPerPageOptions="[5, 10, 25]"
    responsiveLayout="scroll"
    :globalFilterFields="['name']"
  >
    <template #empty>
      <p>{{ $t("trashcan.emptyTrash") }}</p>
    </template>
    <Column>
      <template #body="slotProps">
        <PristyIcon
          class="icone"
          :svgFileName="loadIcon(slotProps.data)"
          v-tooltip="loadIconLabel(slotProps.data)"
        />
      </template>
    </Column>
    <Column
      field="name"
      :header="$t('column.name')"
      sortable
      style="min-width: 10rem"
    >
      <template #body="slotProps">
        {{ slotProps.data.name }}
      </template>
    </Column>
    <Column field="size" :header="$t('column.size')" sortable>
      <template #body="slotProps">
        {{ convertBytesToSize(slotProps.data.content?.sizeInBytes) }}
      </template>
    </Column>
    <Column field="deleted-at" :header="$t('column.deletedAt')" sortable>
      <template #body="slotProps">
        {{ $d(slotProps.data.archivedAt) }}
      </template>
    </Column>
    <Column field="deleted-by" :header="$t('column.deleteBy')" sortable>
      <template #body="slotProps">
        {{ slotProps.data.archivedByUser.displayName }}
      </template>
    </Column>
    <Column headerStyle="min-width:10rem;">
      <template #body="slotProps">
        <Button
          class="mr-1"
          severity="secondary"
          type="button"
          icon="ri-history-line"
          v-tooltip="$t('trashcan.restore')"
          @click="restoreItem(slotProps.data)"
        />
        <Button
          class="mr-1"
          severity="danger"
          type="button"
          icon="ri-delete-bin-line"
          v-tooltip="$t('trashcan.definitiveDelete')"
          @click="deleteItemPermanently(slotProps.data)"
        />
      </template>
    </Column>
  </DataTable>
  <ConfirmDialog group="confirmDeleteAll" />
</template>

<script>
import corbeilleService from "@/services/CorbeilleService";
import { PristyIcon, iconeService } from "@pristy/pristy-libvue";
import pLimit from "p-limit";
import { convertBytesToSize } from "@/services/TranslationService";

const limit = pLimit(3);

export default {
  name: "CorbeilleList",
  props: {
    trashNodes: null,
  },
  components: {
    PristyIcon,
  },
  emits: ["reload"],
  data() {},
  methods: {
    convertBytesToSize,
    restoreItem(item) {
      corbeilleService
        .restoreNode(item.id)
        .then(() => {
          this.$emit("reload");
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("trashcan.successRestore"),
            life: 3000,
          });
        })
        .catch((err) => {
          console.error("restoreNode", err);
        });
    },
    deleteItemPermanently(item) {
      corbeilleService
        .deleteNodePermanently(item.id)
        .then(() => {
          this.$emit("reload");
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("trashcan.successDelete"),
            life: 3000,
          });
        })
        .catch((err) => {
          console.error("deleteNodePermanently", err);
        });
    },
    deleteAllPermanently() {
      this.trashNodes.forEach((item) => {
        limit(() => {
          this.deleteItemPermanently(item);
        });
      });
    },
    confirmDeleteAll() {
      this.$confirm.require({
        message: this.$tc("trashcan.confirm", this.trashNodes.length),
        header: this.$t("trashcan.definitiveDelete"),
        acceptLabel: this.$t("yes"),
        rejectLabel: this.$t("no"),
        group: "confirmDeleteAll",
        accept: () => {
          this.deleteAllPermanently();
        },
      });
    },
    loadIcon(item) {
      return iconeService.getIcon(item);
    },
    loadIconLabel(item) {
      return iconeService.getIconLabel(item);
    },
  },
};
</script>
