<template>
  <div class="container">
    <div class="card custom-card">
      <h2 class="text-center custom-title" id="numError">{{ errorNb }}</h2>
      <img
        class="card-img-top w-full"
        :src="frontImage()"
        alt="user header"
        v-tooltip="`www.vecteezy.com`"
      />
      <div class="card-body">
        <p class="card-text custom-card-title">
          {{ title }}
        </p>
        <p class="card-text custom-card-subtitle">
          {{ subtitle }}
        </p>
        <Button
          icon="ri-corner-down-left-line"
          :label="$t(`goHome`)"
          class="w-full font-weight-bold"
          @click="onClick"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { useConfigStore } from "@pristy/pristy-libvue";

export default {
  name: "ErrorComponent",
  props: {
    errorNb: null,
  },
  data() {
    return {
      title: "",
      subtitle: "",
    };
  },
  created() {
    this.title = this.$t("nothingTitle");
    this.subtitle = this.$t("nothingText");
  },
  methods: {
    onClick() {
      this.$router.push({
        name: "welcome",
      });
    },
    frontImage() {
      const config = useConfigStore();
      return `${config.APP_ROOT}images/pristy/AngryCat.jpg`;
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.custom-card {
  max-width: 25rem;
  margin: 1.25rem;
  padding: 1.25rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.0625rem;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

.custom-title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.custom-card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}

.custom-card-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 0.9375rem;
}
</style>
