<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <DataTable
    id="users"
    :value="usersList"
    rowHover
    dataKey="id"
    responsiveLayout="scroll"
    removableSort
    paginator
    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
    :rows="25"
    v-model:filters="filters"
    :globalFilterFields="['name', 'id', 'email']"
  >
    <template #empty>{{ $t("usersEmpty") }}</template>
    <template #header>
      <div class="flex justify-content-end">
        <IconField iconPosition="left">
          <InputIcon class="ri-search-line" />
          <InputText
            v-model="filters['global'].value"
            :placeholder="$t('search')"
          />
        </IconField>
      </div>
    </template>
    <Column field="avatar">
      <template #body="slotProps">
        <Avatar
          :label="slotProps.data.displayName.charAt(0)"
          size="large"
          :style="{ 'background-color': '#2196F3', color: '#ffffff' }"
          shape="circle"
        />
      </template>
    </Column>
    <Column field="name" :header="$t('column.name')" sortable>
      <template #body="slotProps">
        <span>{{ slotProps.data.displayName }}</span>
      </template>
    </Column>
    <Column field="id" :header="$t('column.id')" sortable>
      <template #body="slotProps">
        <span>{{ slotProps.data.id }}</span>
      </template>
    </Column>
    <Column v-if="isAdmin" field="groups.id" :header="$t('column.groups')">
      <template #body="slotProps">
        <div v-if="slotProps.data.groups">
          <div v-for="group in slotProps.data.groups" :key="group.id">
            <Chip :label="group.displayName ? group.displayName : group.id" />
          </div>
        </div>
      </template>
    </Column>
    <Column field="person" :header="$t('column.jobTitle')">
      <template #body="slotProps">
        <span v-if="slotProps.data.jobTitle">{{
          slotProps.data.jobTitle
        }}</span>
      </template>
    </Column>
    <Column field="email" :header="$t('column.email')" sortable>
      <template #body="slotProps">
        <span>{{ slotProps.data.email }}</span>
      </template>
    </Column>
    <Column field="sizeCurrent" :header="$t('column.usage')" sortable>
      <template #body="slotProps">
        <span v-if="slotProps.data.properties">{{
          slotProps.data.sizeCurrent
        }}</span>
      </template>
    </Column>
    <Column field="sizeQuota" :header="this.$t('column.quota')" sortable>
      <template #body="slotProps">
        <span v-if="slotProps.data.properties">{{
          slotProps.data.sizeQuota
        }}</span>
      </template>
    </Column>
  </DataTable>
</template>

<script>
import { FilterMatchMode } from "primevue/api";

export default {
  name: "ManageUsersList",
  props: {
    usersList: null,
    isAdmin: null,
  },
  emits: ["reload"],
  data() {
    return {
      searchInput: null,
      filters: {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      },
    };
  },
};
</script>
