<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <DataTable
    id="requests"
    :value="requests"
    paginator
    :rows="5"
    dataKey="id"
    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
    :rowsPerPageOptions="[5, 10, 25]"
    responsiveLayout="scroll"
    :globalFilterFields="['name']"
  >
    <template #empty>
      <p>{{ $t("requests.emptyRequests") }}</p>
    </template>
    <Column
      field="sender"
      :header="$t('column.sender')"
      sortable
      style="min-width: 10rem"
    >
      <template #body="slotProps">
        {{ slotProps.data.person.displayName }}
      </template>
    </Column>
    <Column field="site" :header="$t('column.site')" style="min-width: 10rem">
      <template #body="slotProps">
        {{ slotProps.data.id }}
      </template>
    </Column>
    <Column headerStyle="min-width:10rem;" :header="$t('column.actions')">
      <template #body="slotProps">
        <Button
          class="mr-1"
          severity="primary"
          type="button"
          icon="ri-check-line"
          v-tooltip="$t('requests.approve')"
          @click="approveRequest(slotProps.data)"
        />
        <Button
          class="mr-1"
          severity="danger"
          type="button"
          icon="ri-close-line"
          v-tooltip="$t('requests.refuse')"
          @click="refuseRequest(slotProps.data)"
        />
      </template>
    </Column>
  </DataTable>
  <div class="flex justify-content-center">
    <Toast position="bottom-right" group="bc">
      <template #message="slotProps">
        <div class="p-toast-message-text">
          <span class="p-toast-summary">
            {{ slotProps.message.summary }}
          </span>
          <div class="p-toast-detail">
            {{ slotProps.message.detail }}
          </div>
          <a :href="href || ''" class="cursor-pointer">
            {{ $t("ClickLink") }}
          </a>
          {{ $t("ForChangingRole") }}
        </div>
      </template>
    </Toast>
  </div>
</template>

<script>
import requestService from "@/services/RequestService";
import { useConfigStore } from "@pristy/pristy-libvue";

export default {
  name: "RequestList",
  props: {
    requests: null,
  },
  data() {
    return {
      href: null,
    };
  },
  emits: ["reload"],
  methods: {
    approveRequest(item) {
      requestService
        .approveRequest(item.site.id, item.person.id)
        .then(() => {
          this.$emit("reload");
          const config = useConfigStore();
          this.href = `${config.ESPACES_HOST}/espaces/mes-espaces/${item.site.id}/membres`;
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("requests.successApprove", {
              site: item.site.title,
              user: item.person.displayName,
            }),
            group: "bc",
          });
        })
        .catch((err) => {
          console.error("requests.errorApprove", err);
        });
    },
    refuseRequest(item) {
      requestService
        .refuseRequest(item.site.id, item.person.id)
        .then(() => {
          this.$emit("reload");
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("requests.refuseRequest"),
            life: 3000,
          });
        })
        .catch((err) => {
          console.error("requests.errorRefuse", err);
        });
    },
  },
};
</script>

<style scoped></style>
