<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="flex">
    <div class="flex-grow-1 overflow-scroll">
      <ToolBar class="sticky consultation-toolbar">
        <template v-slot:start>
          <h3 class="consultation-title col">
            {{ name }}
          </h3>
        </template>
        <template v-slot:end>
          <Button
            icon="ri-download-line"
            severity="warning"
            class="mr-2"
            @click="download()"
            v-tooltip.bottom="$t(`download`)"
            raised
          />
        </template>
      </ToolBar>
      <div class="card flex justify-content-center mr-1">
        <video v-if="blobUrl" :key="blobUrl" controls class="video-rendition">
          <source :src="blobUrl" />
        </video>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "VideoPlayer",
  props: {
    blobUrl: null,
    name: {
      type: String,
      default: "",
    },
  },
  methods: {
    download() {
      const link = document.createElement("a");
      link.href = this.blobUrl;
      link.download = this.name;
      link.click();
    },
  },
};
</script>
<style lang="scss">
.video-rendition {
  display: block;
  margin: auto;
  max-width: 59vw;
  @media (max-width: 60rem) {
    max-width: 80vw;
  }
  @media (max-width: 30rem) {
    max-width: 65vw;
  }
}
</style>
